{
  "endOfLine": "lf",
  "singleQuote": false,
  "parser": "typescript",
  "semi": true,
  "useTabs": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 120,
  "arrowParens": "always"
}
