@import "./color-set.css";
body {
  width: 100vw;
  height: 100vh;
  color: var(--font-color);
  font-family: "S-CoreDream-1Thin";
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circle1 {
  position: absolute;
  width: 140vw;
  height: 245vh;
  background: var(--circle1-gradient);
  border-radius: 48%;
  bottom: 300px;
  left: -50%;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5607843137);
  animation: wave 20s infinite linear;
  z-index: 5;
  transition: background 0.3s ease-in-out;
}

.circle2 {
  position: absolute;
  width: 140vw;
  height: 245vh;
  background: var(--circle2-gradient);
  border-radius: 48%;
  bottom: 200px;
  left: -50%;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5607843137);
  animation: wave 30s infinite linear;
  z-index: 4;
  transition: background 0.3s ease-in-out;
}

.circle3 {
  position: absolute;
  width: 140vw;
  height: 245vh;
  background: var(--circle3-gradient);
  border-radius: 48%;
  bottom: 100px;
  left: -50%;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5607843137);
  animation: wave 40s infinite linear;
  z-index: 3;
  transition: background 0.3s ease-in-out;
}

.circle4 {
  position: absolute;
  width: 800vw;
  height: 1300vh;
  border-radius: 50%;
  background: var(--circle4-gradient);
  animation: wave 10s infinite linear;
  right: -9000px;
  bottom: -5000px;
  z-index: 2;
  transition: background 0.3s ease-in-out;
}

.finalBackground {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--circle4-gradient);
  z-index: 1;
}

@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
.mainContainer {
  background: var(--container-color);
  position: relative;
  width: 1300px;
  height: 750px;
  border-radius: 10px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5568627451);
  overflow: hidden;
  z-index: 99;
  transition: background 0.3s ease-in-out;
}
.mainContainer .header {
  position: absolute;
  width: 100%;
  height: 100px;
  border-bottom: 0.5px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
}
.mainContainer .header .logo {
  font-family: "Poiret One";
  font-size: 40px;
  font-weight: 800;
  position: relative;
  margin: 30px 0;
  cursor: pointer;
  z-index: 999;
}
.mainContainer .header .searchBar {
  position: relative;
  right: 130px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.mainContainer .header .searchBar input {
  position: relative;
  right: 0;
  width: 280px;
  height: 50px;
  padding-left: 55px;
  padding-right: 40px;
  border: none;
  border-radius: 5px;
  list-style: none;
  outline: none;
  background: var(--container-color);
  color: var(--point-color2);
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
  transition: border 0.3s ease-in-out;
  border: 1px solid transparent;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.mainContainer .header .searchBar input::placeholder {
  color: var(--sub-title);
}
.mainContainer .header .searchBar input:focus {
  border: 1px solid var(--font-color);
}
.mainContainer .header .searchBar .clearBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-10px);
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  width: 25px;
  height: 25px;
  right: 0;
  border-radius: 50%;
  border: none;
  background: transparent;
  transition: background 0.3s ease-in-out;
}
.mainContainer .header .searchBar .clearBtn .iconSet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 15px;
  height: 2px;
  background: var(--font-color);
  transition: background 0.3s ease-in-out;
}
.mainContainer .header .searchBar .clearBtn .part1, .mainContainer .header .searchBar .clearBtn .part2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 2px;
  background: var(--font-color);
  transform-origin: center;
}
.mainContainer .header .searchBar .clearBtn .part1 {
  transform: translate(-50%, -50%) rotate(45deg);
}
.mainContainer .header .searchBar .clearBtn .part2 {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.mainContainer .header .searchBar .clearBtn:hover {
  background: var(--container-color);
}
.mainContainer .header .searchBar .clearBtn:hover .iconSet {
  background: var(--sub-title);
}
.mainContainer .header .searchBar .searchIconBox {
  position: absolute;
  transform: translateX(35px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  top: 0;
  left: -20px;
  padding: 0;
  border: none;
  background: transparent;
  font-size: 30px;
  cursor: pointer;
}
.mainContainer .header .searchBar .searchIconBox .searchIcon {
  color: var(--font-color);
  transition: color 0.3s ease-in-out;
}
.mainContainer .header .darkModeBtn {
  position: absolute;
  font-size: 30px;
  right: 85px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  color: var(--font-color);
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  transition: background 0.3s ease-in-out;
}
.mainContainer .header .darkModeBtn .darkModeIcon {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}
.mainContainer .header .darkModeBtn:hover {
  background: var(--container-color);
}
.mainContainer .header .darkModeBtn:hover .darkModeIcon {
  transform: rotate(90deg);
  color: var(--point-color1);
}
.mainContainer .header .signInBtn {
  position: absolute;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  color: var(--font-color);
  font-size: 30px;
  padding: 0;
  cursor: pointer;
}
.mainContainer .header .signInBtn .signInIcon {
  position: absolute;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
}
.mainContainer .header .signInBtn span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 40px;
  height: 50px;
  color: var(--point-color1);
  background: var(--container-color);
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.mainContainer .header .signInBtn:hover .signInIcon {
  opacity: 0;
}
.mainContainer .header .signInBtn:hover span {
  opacity: 1;
}
.mainContainer .navbar {
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid var(--border-color);
  box-sizing: border-box;
}
.mainContainer .navbar ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mainContainer .navbar ul li {
  margin-top: 30px;
  font-family: "Barlow Condensed";
  font-weight: 100;
  font-size: 25px;
  background: transparent;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  color: var(--font-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
  cursor: pointer;
}
.mainContainer .navbar ul li div {
  position: relative;
  top: -10px;
}
.mainContainer .navbar ul li span {
  position: absolute;
  margin-top: 30px;
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
.mainContainer .navbar ul li:hover {
  background: var(--container-color);
}
.mainContainer .navbar ul li:hover span {
  opacity: 1;
}
.mainContainer .navbar ul li:first-child {
  margin-top: 0;
}
.mainContainer .navbar ul .menuIcon {
  background: var(--container-color);
  color: var(--point-color2);
}
.mainContainer .navbar ul .menuIcon .menuText {
  opacity: 1;
}

.modalSet {
  display: none;
}
.modalSet .overlay {
  z-index: 998;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.14);
  backdrop-filter: blur(5px);
}

[data-theme=light] {
  color: var(--font-color);
}
[data-theme=light] .circle1 {
  background: var(--circle1-gradient);
}
[data-theme=light] .circle2 {
  background: var(--circle2-gradient);
}
[data-theme=light] .circle3 {
  background: var(--circle3-gradient);
}
[data-theme=light] .circle4 {
  background: var(--circle4-gradient);
}
[data-theme=light] .finalBackground {
  background: var(--circle4-gradient);
}
[data-theme=light] .mainContainer {
  background: var(--container-color);
}
[data-theme=light] .mainContainer .header {
  border-bottom: 0.5px solid var(--border-color);
}
[data-theme=light] .mainContainer .header .searchBar input {
  background: var(--container-color);
  color: var(--point-color2);
}
[data-theme=light] .mainContainer .header .searchBar input:focus {
  border: 1px solid var(--font-color);
}
[data-theme=light] .mainContainer .header .searchBar .searchIconBox .searchIcon {
  color: var(--font-color);
}
[data-theme=light] .mainContainer .header .searchBar .clearBtn .iconSet {
  background: var(--font-color);
}
[data-theme=light] .mainContainer .header .searchBar .clearBtn:hover {
  background: var(--container-color);
}
[data-theme=light] .mainContainer .header .searchBar .clearBtn:hover .iconSet {
  background: var(--sub-title);
}
[data-theme=light] .mainContainer .header .darkModeBtn .darkModeIcon {
  color: var(--font-color);
}
[data-theme=light] .mainContainer .header .darkModeBtn:hover {
  background: var(--container-color);
}
[data-theme=light] .mainContainer .header .darkModeBtn:hover .darkModeIcon {
  color: var(--point-color1);
}
[data-theme=light] .mainContainer .header .signInBtn .signInIcon {
  color: var(--font-color);
}
[data-theme=light] .mainContainer .header .signInBtn span {
  color: var(--point-color1);
  background: var(--container-color);
}
[data-theme=light] .mainContainer .navbar {
  border-right: 0.5px solid var(--container-color);
}
[data-theme=light] .mainContainer .navbar ul li {
  color: var(--font-color);
}
[data-theme=light] .mainContainer .navbar ul li:hover {
  background: var(--container-color);
}
[data-theme=light] .mainContainer .navbar ul .menuIcon {
  background: var(--container-color);
  color: var(--point-color2);
}