body {
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-family: "S-CoreDream-1Thin";
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circle1 {
  position: absolute;
  width: 140vw;
  height: 240vh;
  background: linear-gradient(90deg, #362774 10%, #335cc5 60%, #637ffd 100%);
  border-radius: 43%;
  bottom: 300px;
  left: -50%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5607843137);
  animation: wave 20s infinite linear;
  z-index: 4;
  transition: background 0.3s ease-in-out;
}

.circle2 {
  position: absolute;
  width: 140vw;
  height: 240vh;
  background: linear-gradient(70deg, #274b74, #382aa2, #8365d7);
  border-radius: 43%;
  bottom: 200px;
  left: -50%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5607843137);
  animation: wave 30s infinite linear;
  z-index: 3;
  transition: background 0.3s ease-in-out;
}

.circle3 {
  position: absolute;
  width: 140vw;
  height: 240vh;
  background: linear-gradient(40deg, #274b74, #3533c5, #2963fd);
  border-radius: 43%;
  bottom: 100px;
  left: -50%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5607843137);
  animation: wave 40s infinite linear;
  z-index: 2;
  transition: background 0.3s ease-in-out;
}

.circle4 {
  position: absolute;
  width: 800vw;
  height: 1300vh;
  border-radius: 50%;
  background: linear-gradient(180deg, #17caea, #4182b4, #6078ea);
  animation: wave 10s infinite linear;
  right: -9000px;
  bottom: -5000px;
  z-index: 1;
  transition: background 0.3s ease-in-out;
}

@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
.mainContainer {
  background: rgba(16, 18, 27, 0.4);
  position: relative;
  width: 1300px;
  height: 750px;
  border-radius: 10px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5568627451);
  overflow: hidden;
  z-index: 99;
  transition: background 0.3s ease-in-out;
}
.mainContainer .header {
  position: absolute;
  width: 100%;
  height: 100px;
  border-bottom: 0.5px solid rgba(113, 119, 144, 0.431372549);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
}
.mainContainer .header .logo {
  font-family: "Poiret One";
  font-size: 40px;
  font-weight: 800;
  position: relative;
  margin: 30px 0;
  cursor: pointer;
  z-index: 999;
}
.mainContainer .header .searchBar {
  position: relative;
  right: 130px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.mainContainer .header .searchBar input {
  position: relative;
  right: 0;
  width: 280px;
  height: 50px;
  padding-left: 55px;
  border: none;
  border-radius: 5px;
  list-style: none;
  outline: none;
  background: rgba(16, 18, 27, 0.4);
  color: #71f1fc;
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
  transition: border 0.3s ease-in-out;
  border: 1px solid transparent;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.mainContainer .header .searchBar input::placeholder {
  color: #565656;
}
.mainContainer .header .searchBar input:focus {
  border: 1px solid #fff;
}
.mainContainer .header .searchBar .clearBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-10px);
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  width: 25px;
  height: 25px;
  right: 0;
  border-radius: 50%;
  border: none;
  background: transparent;
  transition: background 0.3s ease-in-out;
}
.mainContainer .header .searchBar .clearBtn .iconSet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 15px;
  height: 2px;
  background: #fff;
  transition: background 0.3s ease-in-out;
}
.mainContainer .header .searchBar .clearBtn .part1, .mainContainer .header .searchBar .clearBtn .part2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 2px;
  background: #fff;
  transform-origin: center;
}
.mainContainer .header .searchBar .clearBtn .part1 {
  transform: translate(-50%, -50%) rotate(45deg);
}
.mainContainer .header .searchBar .clearBtn .part2 {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.mainContainer .header .searchBar .clearBtn:hover {
  background: rgba(16, 18, 27, 0.4);
}
.mainContainer .header .searchBar .clearBtn:hover .iconSet {
  background: #565656;
}
.mainContainer .header .searchBar .searchIconBox {
  position: absolute;
  transform: translateX(35px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  top: 0;
  left: -20px;
  padding: 0;
  border: none;
  background: transparent;
  font-size: 30px;
  cursor: pointer;
}
.mainContainer .header .searchBar .searchIconBox .searchIcon {
  color: #fff;
  transition: color 0.3s ease-in-out;
}
.mainContainer .header .darkModeBtn {
  position: absolute;
  font-size: 30px;
  right: 85px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  color: #fff;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  transition: background 0.3s ease-in-out;
}
.mainContainer .header .darkModeBtn .darkModeIcon {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}
.mainContainer .header .darkModeBtn:hover {
  background: rgba(16, 18, 27, 0.4);
}
.mainContainer .header .darkModeBtn:hover .darkModeIcon {
  transform: rotate(90deg);
  color: #f8d17c;
}
.mainContainer .header .signInBtn {
  position: absolute;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 30px;
  padding: 0;
  cursor: pointer;
}
.mainContainer .header .signInBtn .signInIcon {
  position: absolute;
  transition: transform 0.5s ease;
  display: flex;
  justify-content: center;
}
.mainContainer .header .signInBtn span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 40px;
  height: 50px;
  background: rgba(16, 18, 27, 0.4);
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.mainContainer .header .signInBtn:hover .signInIcon {
  transform: translateX(-60px);
}
.mainContainer .header .signInBtn:hover span {
  color: #f8d17c;
  opacity: 1;
}
.mainContainer .navbar {
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid rgba(113, 119, 144, 0.431372549);
  box-sizing: border-box;
}
.mainContainer .navbar ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mainContainer .navbar ul li {
  margin-top: 30px;
  font-family: "Barlow Condensed";
  font-weight: 100;
  font-size: 25px;
  background: transparent;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
  cursor: pointer;
}
.mainContainer .navbar ul li div {
  position: relative;
  top: -10px;
}
.mainContainer .navbar ul li span {
  position: absolute;
  margin-top: 30px;
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
.mainContainer .navbar ul li:hover {
  background: rgba(16, 18, 27, 0.4);
}
.mainContainer .navbar ul li:hover span {
  opacity: 1;
}
.mainContainer .navbar ul li:first-child {
  margin-top: 0;
}
.mainContainer .navbar ul .menuIcon {
  background: rgba(16, 18, 27, 0.4);
  color: #71f1fc;
}
.mainContainer .navbar ul .menuIcon .menuText {
  opacity: 1;
}

.modalSet {
  display: none;
}
.modalSet .overlay {
  z-index: 998;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.14);
  backdrop-filter: blur(5px);
}

.lightMode {
  color: #1e1e1e;
}
.lightMode .circle1 {
  background: linear-gradient(90deg, #fad961, #f76b1c);
}
.lightMode .circle2 {
  background: linear-gradient(70deg, #f2d50f, #da0641);
}
.lightMode .circle3 {
  background: linear-gradient(40deg, #f5515f, #a1051d);
}
.lightMode .circle4 {
  background: linear-gradient(180deg, #f36265, #961276);
}
.lightMode .mainContainer {
  background: rgba(255, 255, 255, 0.3098039216);
}
.lightMode .mainContainer .header {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.3490196078);
}
.lightMode .mainContainer .header .searchBar input {
  background: rgba(255, 255, 255, 0.3098039216);
  color: #f5515f;
}
.lightMode .mainContainer .header .searchBar input:focus {
  border: 1px solid #1e1e1e;
}
.lightMode .mainContainer .header .searchBar .searchIconBox .searchIcon {
  color: #1e1e1e;
}
.lightMode .mainContainer .header .searchBar .clearBtn .iconSet {
  background: #1e1e1e;
}
.lightMode .mainContainer .header .searchBar .clearBtn:hover {
  background: rgba(255, 255, 255, 0.3098039216);
}
.lightMode .mainContainer .header .searchBar .clearBtn:hover .iconSet {
  background: #565656;
}
.lightMode .mainContainer .header .darkModeBtn .darkModeIcon {
  color: #1e1e1e;
}
.lightMode .mainContainer .header .darkModeBtn:hover {
  background: rgba(255, 255, 255, 0.3098039216);
}
.lightMode .mainContainer .header .darkModeBtn:hover .darkModeIcon {
  color: #8463ef;
}
.lightMode .mainContainer .header .signInBtn .signInIcon {
  color: #1e1e1e;
}
.lightMode .mainContainer .header .signInBtn span {
  color: #1e1e1e;
  background: rgba(255, 255, 255, 0.3098039216);
}
.lightMode .mainContainer .header .signInBtn:hover span {
  color: #8463ef;
}
.lightMode .mainContainer .navbar {
  border-right: 0.5px solid rgba(255, 255, 255, 0.3490196078);
}
.lightMode .mainContainer .navbar ul li {
  color: #1e1e1e;
}
.lightMode .mainContainer .navbar ul li:hover {
  background: rgba(255, 255, 255, 0.3098039216);
}
.lightMode .mainContainer .navbar ul .menuIcon {
  background: rgba(255, 255, 255, 0.3098039216);
  color: #f36265;
}