@import "./color-set.css";
.articleList {
  position: relative;
  top: 0;
  width: 400px;
  height: 500px;
  overflow: scroll;
  transition: background 0.3s ease-in-out;
}
.articleList .article {
  left: 0;
  padding: 10px 15px;
  border-radius: 10px;
}
.articleList .article a {
  color: var(--font-color);
  background: transparent;
}
.articleList .article h3 {
  font-family: "S-CoreDream-4Regular";
  font-size: 20px;
  line-height: 1.3;
  cursor: default;
}
.articleList .article p {
  margin-top: 10px;
  font-size: 12px;
  color: var(--point-color3);
  transition: color 0.3s ease-in-out;
}
.articleList .article:hover {
  background: var(--container-color);
}
.articleList .article:hover h3 {
  color: var(--point-color1);
}
.articleList .article:hover p {
  color: var(--point-color2);
}

.lightMode[data-theme=light] .articleList .article p {
  color: var(--point-color3);
}
.lightMode[data-theme=light] .articleList .article:hover {
  background: var(--container-color);
}
.lightMode[data-theme=light] .articleList .article:hover h3 {
  color: var(--point-color1);
}
.lightMode[data-theme=light] .articleList .article:hover p {
  color: var(--point-color2);
}