.articleList {
  position: absolute;
  top: 0;
  width: 400px;
  height: 500px;
  overflow: scroll;
}
.articleList .article {
  padding: 10px 15px;
  border-radius: 10px;
}
.articleList .article a {
  color: #fff;
  background: transparent;
}
.articleList .article h3 {
  font-family: "S-CoreDream-4Regular";
  font-size: 20px;
  line-height: 1.3;
}
.articleList .article p {
  margin-top: 10px;
  font-size: 12px;
  color: #4c94d7;
}
.articleList .article:hover {
  background: rgba(16, 18, 27, 0.4);
}
.articleList .article:hover p {
  color: #f8d17c;
}