@import "./fonts.scss";

.articleSlider {
  position: absolute;
  font-family: "S-CoreDream-4Regular";
  font-size: 20px;
  font-weight: 400;
  width: 400px;
  height: 500px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-sizing: border-box;
  transition: background 0.3s ease-in-out;
  overflow: scroll;

  & .articleList {
    left: 0;
    border-radius: 10px;

    & .article {
      position: relative;
      border-radius: 10px;
      padding: 10px 15px;

      & h3 {
        position: relative;
        font-family: "S-CoreDream-4Regular";
        font-size: 20px;
        line-height: 1.3;
        cursor: default;
        transition: color 0.3s ease-in-out;
      }

      & p {
        position: relative;
        top: 10px;
        margin-bottom: 10px;
        font-size: 12px;
        color: var(--point-color3);
        transition: color 0.3s ease-in-out;
      }
    }
  }

  & .article:hover {
    background: var(--container-color);

    & h3 {
      color: var(--point-color1);
    }

    & p {
      color: var(--point-color2);
    }
  }
}