@import "./fonts.scss";

.articleSlider {
  position: absolute;
  font-family: "S-CoreDream-4Regular";
  font-size: 20px;
  font-weight: 400;
  width: 400px;
  height: 500px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-sizing: border-box;
  transition: background 0.3s ease-in-out;
  overflow: scroll;

  & .articleSet {
    display: flex;
    align-items: center;
    border-radius: 10px;

    & .article {
      position: relative;
      border-radius: 10px;
      padding: 10px 15px;

      & h3 {
        position: relative;
        font-family: "S-CoreDream-4Regular";
        font-size: 20px;
        line-height: 1.3;
        cursor: default;
        transition: color 0.3s ease-in-out;
      }

      & p {
        position: relative;
        top: 10px;
        margin-bottom: 10px;
        font-size: 12px;
        color: var(--point-color3);
        transition: color 0.3s ease-in-out;
      }
    }
  }

  & .articleSet:hover {
    background: var(--container-color);

    & h3 {
      color: var(--point-color1);
    }

    & p {
      color: var(--point-color2);
    }
  }
}

// Desktop
@media (min-width: 1680px) {
  .articleSlider {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1280px) and (max-width: 1679px) and (min-height: 700px) and (max-height: 1440px) {
  .articleSlider {
    width: 100%;
    height: 100%;
  }
}


// Tablet (vertical mode)
@media (min-width: 1024px) and (max-width: 1279px) and (min-height: 1366px) and (max-height: 1400px) {
  .articleSlider {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 700px) and (max-width: 1023px) and (min-height: 1000px) and (max-height: 1365px) {
  .articleSlider {
    width: 100%;
    height: 100%;
  }
}