.newsView {
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  top: 75px;
  width: 550px;
  height: 500px;
  border-radius: 10px;
  overflow: scroll;

  & img {
    width: 550px;
    height: auto;
    border-radius: 10px;
  }

  & .defaultView {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 500px;
    border: transparent;
    border-radius: 10px;
    box-sizing: border-box;
    background: var(--container-color);
    animation: blinkBorder 3s infinite alternate ease-in-out;
    font-size: 20px;
    font-weight: 400;
  }

  @keyframes blinkBorder {
    0% {
      border: 3px solid transparent;
    }

    100% {
      border: 3px solid var(--font-color);
    }
  }

  & h3 {
    margin-top: 30px;
    font-size: 30px;
    line-height: 1.2;
    color: var(--point-color1);
    transition: color 0.3s ease-in-out;
  }

  & .block {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: space-between;

    & .articleDate {
      position: relative;
      color: var(--link-btn-hover);
      background: var(--container-color);
      padding: 10px 10px;
      border-radius: 5px;
      transition: color 0.3s ease-in-out;
      box-sizing: border-box;
      transform: translateY(-20px);
    }

    & .bookMark {
      padding: 10px;
      font-size: 20px;
      background: var(--container-color);
      color: var(--font-color);
      border: none;
      box-sizing: border-box;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    & .bookMark:hover {
      color: var(--point-color2);
    }
  }

  & .originalLink {
    margin-top: 20px;
    color: var(--font-color);
    background: var(--link-btn);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }

  & .originalLink:hover {
    background: var(--point-color3);
  }

  & p {
    position: relative;
    margin-top: 40px;
    font-weight: 100;
    line-height: 1.3;
    white-space: pre-wrap;
  }
}

.newsView::-webkit-scrollbar {
  display: none;
}