.modalContainer {
  position: absolute;
  font-family: "S-CoreDream-1Thin";
  z-index: 9999;
  width: 30vw;
  background: var(--modal-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
  border-radius: 0.8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 10px 50px#0000008e;
  overflow: hidden;

  & .infoIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
    font-size: 3vw;
    border: 0.3vw solid var(--font-color);
    border-radius: 0.8vw;
    width: 6vw;
    height: 6vw;
    box-sizing: border-box;
  }

  & h2 {
    margin: 10% 0;
  }

  & .confirmBtn {
    margin: 10% 0;
    padding: 1vw 2vw;
    background: var(--point-color2);
    border: none;
    border-radius: 0.8vw;
    cursor: pointer;
  }

  & .confirmBtn:hover {
    background: var(--point-color3);
  }
}


// Tablet vertical mode
@media all and (min-width: 551px) and (max-width: 1024px) and (min-height: 1024px) and (max-height: 1366px) {
  .modalContainer {
    width: 40vw;
  }
}

// Desktop (Tablet vertical mode size)
@media all and (min-width: 551px) and (max-width: 768px) and (min-height: 768px) and (max-height: 1024px) {
  .modalContainer {
    width: 40vw;
  }
}

// Tablet horizontal mode
@media all and (min-width: 1024px) and (max-width: 1366px) and (min-height: 768px) and (max-height: 1024px) {
  // 설정 필요 없음
}

// Desktop (Tablet horizontal mode size)
@media all and (min-width: 768px) and (max-width: 1024px) and (min-height: 768px) and (max-height: 1000px) {
  // 설정 필요 없음
}

// Cell Phone vertical mode
@media all and (max-width: 550px) and (max-height: 1067px) {
  .modalContainer {
    width: 80vw;

    & .infoIcon {
      width: 15vw;
      height: 15vw;
      font-size: 10vw;
      border: 0.5vw solid var(--font-color);
    }

    & .confirmBtn {
      padding: 2vh 5vw;
    }
  }
}

// Cell Phone horizontal mode
@media all and (max-width: 1067px) and (max-height: 550px) {
  // 설정 필요 없음
}