.youtubeView {
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  top: 75px;
  width: 550px;
  height: 500px;
  border-radius: 10px;
  color: var(--font-color);

  & .defaultView {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 500px;
    border: transparent;
    border-radius: 10px;
    box-sizing: border-box;
    background: var(--container-color);
    animation: blinkBorder 3s infinite alternate ease-in-out;
    font-size: 20px;
    font-weight: 400;
  }

  @keyframes blinkBorder {
    0% {
      border: 3px solid transparent;
    }

    100% {
      border: 3px solid var(--font-color);
    }
  }

  & .videoSlider {
    color: var(--font-color);
    position: relative;
    width: 550px;
    height: auto;
    border-radius: 10px;
    overflow: scroll;

    & iframe {
      border-radius: 10px;
    }

    & h3 {
      position: relative;
      top: 0;
      margin-top: 30px;
      font-size: 30px;
      line-height: 1.2;
      color: var(--point-color1);
      transition: color 0.3s ease-in-out;
      z-index: 999;
    }

    & .contentInfo {
      flex-direction: column;

      margin-top: 20px;

      & .detailInfoSet {
        right: 0;
        font-size: 14px;
        display: flex;
        align-items: center;

        & .channel {
          margin-top: 20px;
          display: flex;
          align-items: center;
          background: var(--container-color);
          color: var(--font-color);
          padding: 10px 20px;
          border: none;
          border-radius: 10px;
          font-size: 15px;
          font-weight: 800;
          cursor: pointer;

          & img {
            width: 40px;
            border-radius: 50%;
          }

          & span {
            margin-left: 10px;
          }
        }

        & .bookMarkRemover {
          position: absolute;
          right: 0;
          padding: 10px;
          font-size: 20px;
          background: var(--container-color);
          color: var(--font-color);
          border: none;
          box-sizing: border-box;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        & .bookMarkRemover:hover {
          color: var(--point-color2);
        }
      }
    }
  }

  & .videoSlider::-webkit-scrollbar {
    display: none;
  }
}