.videoSlider {
  position: absolute;
  font-family: "S-CoreDream-4Regular";
  font-size: 20px;
  font-weight: 400;
  color: var(--font-color);
  width: 400px;
  height: 500px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-sizing: border-box;
  transition: background 0.3s ease-in-out;
  overflow: scroll;

  & .videoList {
    left: 0;
    border-radius: 10px;

    & .video {
      position: relative;
      border-radius: 10px;
      padding: 10px 15px;
      display: flex;
      flex-direction: column;

      & img {
        margin-top: 5px;
        border-radius: 10px;
      }

      & h3 {
        position: relative;
        margin-top: 10px;
        font-family: "S-CoreDream-4Regular";
        font-size: 20px;
        line-height: 1.3;
        cursor: default;
        transition: color 0.3s ease-in-out;
      }

      & .block {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & p {
          position: relative;
          top: 10px;
          margin-bottom: 10px;
          font-size: 12px;
          color: var(--point-color3);
          transition: color 0.3s ease-in-out;
        }

        & button {
          background: var(--container-color);
          color: var(--font-color);
          border: none;
          border-radius: 5px;
          padding: 3px 10px;
          cursor: pointer;

          & .bookMarkRemover {
            font-size: 10px;
          }
        }

        & button:hover {
          color: var(--point-color2);
        }
      }
    }
  }

  & .video:hover {
    background: var(--container-color);

    & h3 {
      color: var(--point-color1);
    }

    & span {
      color: var(--point-color2);
    }
  }
}

.defaultView {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  border: transparent;
  border-radius: 10px;
  box-sizing: border-box;
  animation: blinkBorder 3s infinite alternate ease-in-out;
  font-size: 20px;
  font-weight: 400;
}

@keyframes blinkBorder {
  0% {
    border: 3px solid transparent;
  }

  100% {
    border: 3px solid var(--font-color);
  }
}