.newsSlider {
  position: absolute;
  font-family: "S-CoreDream-4Regular";
  font-weight: 400;
  width: 30vw;
  height: 60vh;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border-radius: 0.8vw;
  box-sizing: border-box;
  transition: background 0.3s ease-in-out;
  overflow: scroll;

  & .articleSet {
    display: flex;
    align-items: center;
    border-radius: 0.8vw;

    & .article {
      position: relative;
      border-radius: 0.8vw;
      width: 100%;
      padding: 1vw 1vw;

      & h3 {
        position: relative;
        font-family: "S-CoreDream-4Regular";
        font-size: 1.5vw;
        line-height: 1.3;
        cursor: default;
        transition: color 0.3s ease-in-out;
      }

      & .block {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        & p {
          position: relative;
          font-size: 1vw;
          color: var(--point-color3);
          transition: color 0.3s ease-in-out;
        }

        & button {
          background: var(--container-color);
          color: var(--font-color);
          border: none;
          border-radius: 0.3vw;
          width: 3vw;
          height: 3vw;
          cursor: pointer;

          & .bookMarkRemover {
            font-size: 1vw;
          }
        }

        & button:hover {
          color: var(--point-color2);
        }
      }
    }
  }

  & .articleSet:hover {
    background: var(--container-color);

    & h3 {
      color: var(--point-color1);
    }

    & p {
      color: var(--point-color2);
    }
  }
}

.defaultView {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 60vh;
  border: transparent;
  border-radius: 0.8vw;
  box-sizing: border-box;
  animation: blinkBorder 3s infinite alternate ease-in-out;
  font-size: 1vw;
  font-weight: 400;
}

@keyframes blinkBorder {
  0% {
    border: 0.3vw solid transparent;
  }

  100% {
    border: 0.3vw solid var(--font-color);
  }
}


// Tablet vertical mode
@media all and (min-width: 551px) and (max-width: 1024px) and (min-height: 1024px) and (max-height: 1366px) {
  .newsSlider {
    top: 2.5vh;
    width: 100%;
    height: 27.5vh;
  }

  .defaultView {
    width: 57vw;
    height: 27.5vh;
  }
}

// Desktop (Tablet vertical mode size)
@media all and (min-width: 551px) and (max-width: 768px) and (min-height: 768px) and (max-height: 1024px) {
  .newsSlider {
    top: 2.5vh;
    width: 100%;
    height: 27.5vh;
  }

  .defaultView {
    width: 57vw;
    height: 27.5vh;
  }
}

// Tablet horizontal mode
@media all and (min-width: 1024px) and (max-width: 1366px) and (min-height: 768px) and (max-height: 1024px) {
  .newsSlider {
    top: 3vh;
    width: 100%;
    height: 68vh;
  }

  .defaultView {
    width: 30vw;
    height: 68vh;
    font-size: 1.5vw;
  }
}

// Desktop (Tablet horizontal mode size)
@media all and (min-width: 768px) and (max-width: 1024px) and (min-height: 768px) and (max-height: 1000px) {
  .newsSlider {
    top: 3vh;
    width: 100%;
    height: 68vh;
  }

  .defaultView {
    width: 30vw;
    height: 68vh;
    font-size: 1.5vw;
  }
}

// Cell Phone vertical mode
@media all and (max-width: 550px) and (max-height: 1067px) {
  .newsSlider {
    top: 4vh;
    width: 100%;
    height: 24vh;

    & .articleSet {
      & .article {
        padding: 2vw 2vw;

        & h3 {
          font-size: 3.5vw;
        }

        & .block {
          & p {
            font-size: 2.5vw;
          }

          & button {
            width: 10vw;
            height: 7vw;

            & .bookMarkRemover {
              font-size: 2.5vw;
            }
          }
        }
      }
    }
  }

  .defaultView {
    width: 85vw;
    height: 24vh;
    font-size: 2vw;
  }
}

// Cell Phone horizontal mode
@media all and (max-width: 1067px) and (max-height: 550px) {
  .newsSlider {
    top: 15%;
    width: 100%;
    height: 85%;

    & .articleSet {
      & .article {
        padding: 1vw 1vw;

        & h3 {
          font-size: 2vw;
        }

        & .block {
          & p {
            font-size: 1.5vw;
          }

          & button {
            width: 4vw;
            height: 3vw;

            & .bookMarkRemover {
              font-size: 1.5vw;
            }
          }
        }
      }
    }
  }

  .defaultView {
    top: 0;
    width: 100%;
    height: 85%;
    font-size: 2vw;
  }
}