@use "./_color-set.scss" as colors;

/*
[achromatic color set]

$global-back: #202124;
$pure-black: #000;
$pure-white: #fff;
$pointed-font: #a8a8a8;
$searchbar-back: #5d606e;
$module-back: #1e1f21;

[point color set]

$point-beige: #f8d17c;
$aqua-blue: #71f1fc;
$sky-blue: #61cdf9;
$bright-blue: #4c94d7;
$deep-blue: #3363b7;
$dark-blue: #23418d;
*/

.card {
  position: relative;
  width: 450px;
  height: 350px;
  border-left: 1px solid colors.$module-back;
  border-radius: 10px;
  transform-origin: 100%;
  text-overflow: ellipsis;
  background: colors.$pure-white;
  margin-top: -360px;
  overflow: hidden;

  & .articleImage {
    position: relative;
    width: 100%;
    height: 220px;
  }

  & h3 {
    margin-top: 20px;
    font-family: "S-CoreDream-4Regular";
    color: colors.$pure-black;
    font-weight: 1000;
    font-size: 20px;
    padding: 0 20px;
    line-height: 1.3;
  }

  & p {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 20px;
    padding: 0 20px;
    color: colors.$pure-black;
  }
}

.class2 {
  transform: perspective(300px) rotateY(10deg) translate(-30px, -30px);
  z-index: 1;
  filter: blur(2px) brightness(70%);
  -webkit-box-reflect: below 70px linear-gradient(#000000, rgba(0, 0, 0, 0.08));
}

.class1 {
  transform: perspective(300px) rotateY(10deg) translate(-15px, -15px);
  z-index: 2;
  filter: blur(1.5px) brightness(80%);
  -webkit-box-reflect: below 40px linear-gradient(#000000, rgba(0, 0, 0, 0.1));
}

.class0 {
  transform: perspective(300px) rotateY(10deg);
  z-index: 3;
  -webkit-box-reflect: below 5px linear-gradient(#000000, rgba(0, 0, 0, 0.4));
}