/* Title */
@font-face {
  font-family: "Poiret One";
  font-style: normal;
  src: url("../../public/fonts/PoiretOne/PoiretOne-Regular.woff") format("woff"),
    url("../../public/fonts/PoiretOne/PoiretOne-Regular.ttf") format("truetype"),
    url("../../public/fonts/PoiretOne/PoiretOne-Regular.svg") format("svg");
}

/* Menu */
@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  src: url("../../public/fonts/BarlowCondensed/BarlowCondensed-Regular.woff") format("woff"),
    url("../../public/fonts/BarlowCondensed/BarlowCondensed-Regular.ttf") format("truetype"),
    url("../../public/fonts/BarlowCondensed/BarlowCondensed-Regular.svg") format("svg");
}

/* Regular Text */
@font-face {
  font-family: "S-CoreDream-1Thin";
  font-style: normal;
  src: url("../../public/fonts/S-Core_Dream/SCDream1.woff") format("woff"),
    url("../../public/fonts/S-Core_Dream/SCDream1.ttf") format("truetype"),
    url("../../public/fonts/S-Core_Dream/SCDream1.svg") format("svg");
}