@import "./fonts.scss";

.homeContainer {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 1200px;
  height: 650px;
  display: flex;
  justify-content: center;
  background: var(--container-color);
  user-select: none;

  & .landingContainer {
    position: absolute;
    top: 75px;
    left: 100px;
    width: 550px;
    height: 500px;

    & .infoIcon {
      position: absolute;
      z-index: 100;
      left: 50%;
      transform: translateX(-50%);
      font-size: 60px;
      top: -30px;
      z-index: 100;
    }

    & .iconBack {
      position: absolute;
      width: 50px;
      height: 50px;
      left: 50%;
      transform: translateX(-50%);
      top: -25px;
      border-radius: 50%;
      background: var(--icon-back);
      z-index: 99;
    }

    & .infoContainer {
      position: absolute;
      width: 550px;
      height: 500px;
      background: var(--container-color);
      left: 0;
      border-radius: 10px;
      border: 3px solid var(--font-color);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      & p {
        margin: 20px;
        font-size: 16px;
        line-height: 1.5;

        & span {
          font-family: "S-CoreDream-4Regular";
          color: var(--point-color1);
        }
      }
    }
  }

  & .realTimeContainer {
    position: absolute;
    top: 0;
    right: 100px;
    width: 400px;
    height: 650px;
    box-sizing: border-box;

    & .realTimeTitle {
      position: absolute;
      top: 50px;
      left: 0;
      color: var(--sub-title);
    }

    & .updateCounter {
      position: absolute;
      top: 50px;
      right: 0;
      width: 100px;
      height: 20px;
      border-radius: 5px;
      background: var(--container-color);

      & .gauge {
        position: absolute;
        height: 20px;
        left: 0;
        border-radius: 5px;
        background: var(--point-color1);
      }
    }

    & .realTime {
      position: absolute;
      top: 75px;
      right: 0;
      width: 400px;
      height: 500px;
      background: var(--container-color);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;

      & li {
        width: 100%;
        border-radius: 10px;
        display: flex;
        align-items: center;

        & .rank {
          font-family: "S-CoreDream-4Regular";
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          font-weight: 800;
          margin-left: 10px;
        }

        & .text {
          margin-left: 10px;
          width: 60%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        & .indicator {
          position: absolute;
          right: 0;
          margin-right: 20px;
          padding: 5px;
          background: var(--container-color);
          border-radius: 5px;
        }

        & .new {
          color: rgb(78, 203, 105);
        }

        & .stay {
          color: var(--font-color);
        }

        & .up {
          color: #fb3131;
        }

        & .down {
          color: #4343ff;
        }
      }

      & li:hover {
        background: var(--container-color);
        cursor: pointer;

        & .text {
          color: var(--point-color1);
        }
      }
    }
  }

  & .notice {
    font-family: "S-CoreDream-1Thin";
    z-index: 900;
    position: absolute;
    bottom: 20px;
    color: var(--sub-title);
  }
}


// Desktop
@media (min-width: 1680px) {
  .homeContainer {
    width: calc(90vw - 100px);
    height: calc(90vh - 100px);

    & .landingContainer {
      width: 40vw;
      height: 60vh;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);

      & .infoContainer {
        width: 40vw;
        height: 60vh;
        padding: 0 10%;

        & p {
          font-size: 20px;
        }
      }
    }

    & .realTimeContainer {
      width: 23vw;
      height: 60vh;
      top: 50%;
      left: 77%;
      transform: translate(-50%, -50%);

      & .realTimeTitle {
        top: -25px;
      }

      & .updateCounter {
        top: -25px;
      }

      & .realTime {
        width: 100%;
        height: 100%;
        top: 0;

        & li {
          height: 10%;
          font-size: 18px;
        }
      }
    }
  }
}

@media (min-width: 1600px) and (max-width: 1679px) and (min-height: 1000px) {
  .homeContainer {
    width: calc(90vw - 100px);
    height: calc(90vh - 100px);

    & .landingContainer {
      width: 40vw;
      height: 60vh;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);

      & .infoContainer {
        width: 40vw;
        height: 60vh;
        padding: 0 10%;

        & p {
          font-size: 20px;
        }
      }
    }

    & .realTimeContainer {
      width: 20vw;
      height: 60vh;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);

      & .realTimeTitle {
        top: -25px;
      }

      & .updateCounter {
        top: -25px;
      }

      & .realTime {
        width: 100%;
        height: 100%;
        top: 0;

        & li {
          height: 10%;
          font-size: 18px;
        }
      }
    }
  }
}

@media (min-width: 1600px) and (max-width: 1679px) and (min-height: 700px) and (max-height: 999px) {
  .homeContainer {
    width: calc(90vw - 100px);
    height: calc(90vh - 100px);

    & .landingContainer {
      width: 40vw;
      height: 60vh;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);

      & .infoIcon {
        font-size: 50px;
        top: -25px;
      }

      & .iconBack {
        width: 40px;
        height: 40px;
        top: -20px;
      }

      & .infoContainer {
        width: 40vw;
        height: 60vh;
        padding: 0 10%;

        & p {
          font-size: 18px;
        }
      }
    }

    & .realTimeContainer {
      width: 20vw;
      height: 60vh;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);

      & .realTimeTitle {
        top: -25px;
      }

      & .updateCounter {
        top: -25px;
      }

      & .realTime {
        width: 100%;
        height: 100%;
        top: 0;

        & li {
          height: 10%;
          font-size: 16px;
        }
      }
    }
  }
}

@media (min-width: 1600px) and (max-width: 1679px) and (min-height: 1000px) {
  .homeContainer {
    width: calc(90vw - 100px);
    height: calc(90vh - 100px);

    & .landingContainer {
      width: 40vw;
      height: 60vh;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);

      & .infoIcon {
        font-size: 50px;
        top: -25px;
      }

      & .iconBack {
        width: 40px;
        height: 40px;
        top: -20px;
      }

      & .infoContainer {
        width: 40vw;
        height: 60vh;
        padding: 0 10%;

        & p {
          font-size: 18px;
        }
      }
    }

    & .realTimeContainer {
      width: 20vw;
      height: 60vh;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);

      & .realTimeTitle {
        top: -25px;
      }

      & .updateCounter {
        top: -25px;
      }

      & .realTime {
        width: 100%;
        height: 100%;
        top: 0;

        & li {
          height: 10%;
          font-size: 16px;
        }
      }
    }
  }
}

@media (min-width: 1280px) and (max-width: 1599px) and (min-height: 700px) and (max-height: 999px) {
  .homeContainer {
    width: calc(90vw - 100px);
    height: calc(90vh - 100px);

    & .landingContainer {
      width: 40vw;
      height: 60vh;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);

      & .infoIcon {
        font-size: 40px;
        top: -20px;
      }

      & .iconBack {
        width: 30px;
        height: 30px;
        top: -20px;
      }

      & .infoContainer {
        width: 40vw;
        height: 60vh;
        padding: 0 10%;

        & p {
          font-size: 14px;
        }
      }
    }

    & .realTimeContainer {
      width: 20vw;
      height: 60vh;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);

      & .realTimeTitle {
        top: -25px;
        font-size: 14px;
      }

      & .updateCounter {
        top: -30px;
      }

      & .realTime {
        width: 100%;
        height: 100%;
        top: 0;

        & li {
          width: 100%;
          height: 10%;
          font-size: 12px;
          // background: blue;
        }
      }
    }
  }
}

@media (min-width: 1280px) and (max-width: 1599px) and (min-height: 1000px) and (max-height: 1300px) {
  .homeContainer {
    width: calc(90vw - 100px);
    height: calc(90vh - 100px);

    & .landingContainer {
      width: 40vw;
      height: 60vh;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);

      & .infoIcon {
        font-size: 40px;
        top: -20px;
      }

      & .iconBack {
        width: 40px;
        height: 40px;
        top: -20px;
      }

      & .infoContainer {
        width: 40vw;
        height: 60vh;
        padding: 0 10%;

        & p {
          font-size: 14px;
        }
      }
    }

    & .realTimeContainer {
      width: 20vw;
      height: 60vh;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);

      & .realTimeTitle {
        top: -25px;
        font-size: 14px;
      }

      & .updateCounter {
        top: -30px;
      }

      & .realTime {
        width: 100%;
        height: 100%;
        top: 0;

        & li {
          height: 10%;
          font-size: 12px;
        }
      }
    }
  }
}


// Tablet (vertical mode)
@media (min-width: 1000px) and (max-width: 1279px) and (min-height: 1000px) and (max-height: 1400px) {
  .homeContainer {
    width: calc(90vw - 100px);
    height: calc(90vh - 100px);

    & .landingContainer {
      width: 40vw;
      height: 60vh;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);

      & .infoIcon {
        font-size: 40px;
        top: -20px;
      }

      & .iconBack {
        width: 40px;
        height: 40px;
        top: -20px;
      }

      & .infoContainer {
        width: 40vw;
        height: 60vh;
        padding: 0 10%;

        & p {
          font-size: 14px;
        }
      }
    }

    & .realTimeContainer {
      width: 20vw;
      height: 60vh;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);

      & .realTimeTitle {
        top: -25px;
        font-size: 14px;
      }

      & .updateCounter {
        top: -30px;
      }

      & .realTime {
        width: 100%;
        height: 100%;
        top: 0;

        & li {
          height: 10%;
          font-size: 12px;

          & .text {
            width: 50%;
          }
        }
      }
    }
  }
}

@media (min-width: 700px) and (max-width: 999px) and (min-height: 1000px) and (max-height: 1400px) {
  .homeContainer {
    width: calc(90vw - 100px);
    height: calc(90vh - 100px);

    & .landingContainer {
      width: 40vw;
      height: 60vh;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);

      & .infoIcon {
        left: 40%;
        font-size: 40px;
        top: -20px;
      }

      & .iconBack {
        left: 40%;
        width: 40px;
        height: 40px;
        top: -20px;
      }

      & .infoContainer {
        width: 30vw;
        height: 60vh;
        padding: 0 10%;

        & p {
          font-size: 10px;
        }
      }
    }

    & .realTimeContainer {
      width: 30vw;
      height: 60vh;
      top: 50%;
      left: 72%;
      transform: translate(-50%, -50%);

      & .realTimeTitle {
        top: -25px;
        font-size: 10px;
      }

      & .updateCounter {
        top: -30px;
      }

      & .realTime {
        width: 100%;
        height: 100%;
        top: 0;

        & li {
          height: 10%;
          font-size: 12px;

          & .text {
            width: 50%;
            font-size: 10px;
          }
        }
      }
    }

    .notice {
      font-size: 10px;
    }
  }
}