@import "./fonts.scss";
@import "./App.module.scss";

.homeContainer {
  position: absolute;
  top: 10vh;
  left: 10vh;
  width: calc($main-container-width - 10vh);
  height: calc($main-container-height - 10vh);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--container-color);
  user-select: none;

  & .landingContainer {
    width: 40vw;
    height: 60vh;
    margin-left: 6vw;

    & .infoContainer {
      width: 100%;
      height: 100%;
      background: var(--container-color);
      border-radius: 0.8vw;
      border: 0.3vw solid var(--font-color);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & .iconSet {
        position: absolute;
        top: 10vh;
        transform: translateY(-50%);
        width: 4vw;
        height: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;

        & .infoIcon {
          z-index: 100;
          font-size: 4vw;
        }

        & .iconBack {
          position: absolute;
          width: 3vw;
          height: 3vw;
          border-radius: 50%;
          background: var(--icon-back);
          z-index: 99;
        }
      }

      & .infoText {
        padding: 0 2vw;

        & p {
          margin: 1vw;
          font-size: 1vw;
          line-height: 2;

          & span {
            font-family: "S-CoreDream-4Regular";
            color: var(--point-color1);
          }
        }
      }
    }
  }

  & .realTimeContainer {
    width: 30vw;
    height: 64vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(-2vh);
    margin-right: 6vw;


    & .realTimeHeader {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      & .realTimeTitle {
        color: var(--sub-title);
        font-size: 1.2vw;
      }

      & .updateCounter {
        width: 8vw;
        height: 2vh;
        border-radius: 0.4vw;
        background: var(--container-color);

        & .gauge {
          height: 2vh;
          border-radius: 0.4vw;
          background: var(--point-color1);
        }
      }
    }

    & .realTime {
      width: 100%;
      height: 60vh;
      background: var(--container-color);
      border-radius: 0.8vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;

      & li {
        width: 100%;
        height: 10%;
        border-radius: 0.8vw;
        display: flex;
        align-items: center;

        & .rank {
          font-family: "S-CoreDream-4Regular";
          font-weight: 800;
          font-size: 1.2vw;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 2vw;
          height: 2vw;
          margin-left: 1vw;
        }

        & .text {
          font-size: 1vw;
          margin-left: 1vw;
          width: 60%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        & .indicator {
          font-size: 1vw;
          position: absolute;
          right: 0;
          margin-right: 1vw;
          padding: 0.5vw;
          background: var(--container-color);
          border-radius: 0.3vw;
        }

        & .new {
          color: rgb(78, 203, 105);
        }

        & .stay {
          color: var(--font-color);
        }

        & .up {
          color: #fb3131;
        }

        & .down {
          color: #4343ff;
        }
      }

      & li:hover {
        background: var(--container-color);
        cursor: pointer;

        & .rank {
          color: var(--point-color2)
        }

        & .text {
          color: var(--point-color1);
        }
      }
    }
  }

  & .notice {
    font-family: "S-CoreDream-1Thin";
    z-index: 900;
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    color: var(--sub-title);
    font-size: 1vw;
  }
}