.loaderContainer {
  position: absolute;
  left: 0;
  width: 1200px;
  height: 650px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  & .border {
    position: absolute;
    width: 1100px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid var(--font-color);
    border-radius: 10px;
    animation: extendBorder 2s infinite ease-in-out;

    @keyframes extendBorder {
      0% {
        border: 3px solid transparent;
      }

      50% {
        width: 1150px;
        height: 600px;
        border: 3px solid var(--font-color);
      }

      100% {
        width: 1150px;
        height: 600px;
        border: 3px solid transparent;
      }
    }

    & .loader {
      position: absolute;
      width: 150px;
      height: 150px;
      margin: 20px;
      display: inline-block;
    }
  }
}


// Desktop
@media (min-width: 1680px) {
  .loaderContainer {
    width: calc(90vw - 100px);
    height: calc(90vh - 100px);
  }
}

@media (min-width: 1280px) and (max-width: 1679px) and (min-height: 700px) and (max-height: 1440px) {
  .loaderContainer {
    width: calc(90vw - 100px);
    height: calc(90vh - 100px);

    & .border {
      width: calc(90vw - 200px);
      height: calc(90vh - 200px);
      animation: extendBorder 2s infinite ease-in-out;
    }

    @keyframes extendBorder {
      0% {
        border: 3px solid transparent;
      }

      50% {
        width: calc(90vw - 150px);
        height: calc(90vh - 150px);
        border: 3px solid var(--font-color);
      }

      100% {
        width: calc(90vw - 150px);
        height: calc(90vh - 150px);
        border: 3px solid transparent;
      }
    }
  }
}