.newsPreview {
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  top: 75px;
  width: 550px;
  height: 500px;
  border-radius: 10px;
  overflow: scroll;
}
.newsPreview img {
  width: 550px;
  height: auto;
  border-radius: 10px;
}
.newsPreview h3 {
  margin-top: 30px;
  font-size: 30px;
  line-height: 1.2;
  color: #f8d17c;
}
.newsPreview .articleDate {
  margin-top: 20px;
  color: #3363b7;
  background: rgba(16, 18, 27, 0.4);
  padding: 10px 10px;
  border-radius: 5px;
}
.newsPreview .originalLink {
  margin-top: 20px;
  color: #fff;
  background: #61cdf9;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.newsPreview .originalLink:hover {
  background: #3363b7;
}
.newsPreview p {
  margin-top: 40px;
  font-weight: 100;
  line-height: 1.3;
  white-space: pre-wrap;
}

.newsPreview::-webkit-scrollbar {
  display: none;
}