/*
[achromatic color set]

$global-back: #202124;
$pure-black: #000;
$pure-white: #fff;
$pointed-font: #a8a8a8;
$searchbar-back: #5d606e;
$module-back: #1e1f21;

[point color set]

$point-beige: #f8d17c;
$aqua-blue: #71f1fc;
$sky-blue: #61cdf9;
$bright-blue: #4c94d7;
$deep-blue: #3363b7;
$dark-blue: #23418d;
*/
.cardSet {
  position: relative;
  left: -180px;
  bottom: -400px;
  transition: all 0.3s ease-in-out;
}