.card {
  position: absolute;

  & .articleImage {
    position: relative;
    width: 100%;
    height: 220px;
  }

  & h3 {
    margin-top: 20px;
    font-family: "S-CoreDream-4Regular";
    color: colors.$pure-black;
    font-weight: 1000;
    font-size: 20px;
    padding: 0 20px;
    line-height: 1.3;
  }

  & p {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 20px;
    padding: 0 20px;
    color: colors.$pure-black;
  }
}