@import "./fonts.scss";
@import "./App.module.scss";

.newsContainer {
  font-family: "S-CoreDream-4Regular";
  position: absolute;
  background: var(--container-color);
  top: 10vh;
  left: 10vh;
  width: calc($main-container-width - 10vh);
  height: calc($main-container-height - 10vh);
  box-sizing: border-box;
  transition: background 0.3s ease-in-out;

  & .innerFrame {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .previewContainer {
      width: 40vw;
      height: 64vh;
      margin-left: 6vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transform: translateY(-2vh);

      & .previewTitle {
        color: var(--sub-title);
        height: 3vh;
        display: flex;
        align-items: flex-end;
        font-size: 1.2vw;
      }

      & .defaultPreview {
        width: 100%;
        height: 60vh;

        & img {
          width: 100%;
          height: 48vh;
          border-radius: 0.8vw;
          user-select: none;
        }

        & h3 {
          margin-top: 3vh;
          font-size: 3vh;
        }

        & p {
          margin-top: 3vh;
          font-size: 1vw;
          font-weight: 100;
        }
      }
    }

    & .contentsContainer {
      width: 30vw;
      height: 64vh;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transform: translateY(-2vh);
      margin-right: 6vw;

      & .contentsTitle {
        height: 3vh;
        display: flex;
        align-items: flex-end;
        font-size: 1.2vw;
        color: var(--sub-title);
      }

      & .articleList {
        font-family: "S-CoreDream-4Regular";
        font-weight: 400;
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--container-color);
        border-radius: 0.8vw;
        box-sizing: border-box;
        transition: background 0.3s ease-in-out;

        & .text {
          font-size: 1vw;
          pointer-events: none;
        }
      }

      & .borderEffect {
        animation: blinkBorder 3s infinite alternate ease-in-out;
      }

      @keyframes blinkBorder {
        0% {
          border: 0.3vw solid transparent;
        }

        100% {
          border: 0.3vw solid var(--font-color);
        }
      }
    }
  }

  & .notice {
    font-family: "S-CoreDream-1Thin";
    z-index: 900;
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    color: var(--sub-title);
    font-size: 1vw;
  }
}

// Tablet vertical mode
@media all and (min-width: 551px) and (max-width: 1024px) and (min-height: 1024px) and (max-height: 1366px) {
  .newsContainer {
    top: 6vh;
    left: 0;
    width: $main-container-width;
    height: calc($main-container-height - 6vh);

    & .innerFrame {
      flex-direction: column;
      align-items: flex-end;

      & .previewContainer {
        margin-left: 0;
        margin: 0 4.5vw;
        width: 90%;
        height: 45vh;
        margin-top: 5vh;

        & .previewTitle {
          display: none;
        }

        & .defaultPreview {
          height: 44vh;

          & img {
            height: 75%;
          }

          & p {
            font-size: 1.5vw;
          }
        }
      }

      & .contentsContainer {
        margin-right: 0;
        margin: 0 4.5vw;
        margin-bottom: 1vh;
        width: 60%;
        height: 30vh;

        & .contentsTitle {
          height: 2vh;
          font-size: 2vw;
        }

        & .articleList {
          height: 27.5vh;

          & .text {
            font-size: 1.5vw;
          }
        }
      }
    }

    & .notice {
      display: none;
    }
  }
}

// Desktop (Tablet vertical mode size)
@media all and (min-width: 551px) and (max-width: 768px) and (min-height: 768px) and (max-height: 1024px) {
  .newsContainer {
    top: 6vh;
    left: 0;
    width: $main-container-width;
    height: calc($main-container-height - 6vh);

    & .innerFrame {
      flex-direction: column;
      align-items: flex-end;

      & .previewContainer {
        margin-left: 0;
        margin: 0 4.5vw;
        width: 90%;
        height: 45vh;
        margin-top: 5vh;

        & .previewTitle {
          display: none;
        }

        & .defaultPreview {
          height: 44vh;

          & img {
            height: 75%;
          }

          & p {
            font-size: 1.5vw;
          }
        }
      }

      & .contentsContainer {
        margin-right: 0;
        margin: 0 4.5vw;
        margin-bottom: 1vh;
        width: 60%;
        height: 30vh;

        & .contentsTitle {
          height: 2vh;
          font-size: 2vw;
        }

        & .articleList {
          height: 27.5vh;

          & .text {
            font-size: 1.5vw;
          }
        }
      }
    }

    .notice {
      display: none;
    }
  }
}

// Tablet horizontal mode
@media all and (min-width: 1024px) and (max-width: 1366px) and (min-height: 800px) and (max-height: 1024px) {
  .newsContainer {
    top: 8vh;
    left: 0;
    width: $main-container-width;
    height: calc($main-container-height - 8vh);

    & .innerFrame {
      & .previewContainer {
        width: 50vw;
        height: 71vh;
        margin-left: 4vw;
        transform: translateY(-1.5vh);

        & .previewTitle {
          height: 2vh;
        }

        & .defaultPreview {
          height: 68vh;
        }
      }

      & .contentsContainer {
        height: 71vh;
        margin-right: 4vw;
        transform: translateY(-1.5vh);

        & .contentsTitle {
          height: 2vh;
        }

        & .articleList {
          height: 68vh;
        }
      }
    }

    & .notice {
      display: none;
    }
  }
}

// Desktop (Tablet horizontal mode size)
@media all and (min-width: 768px) and (max-width: 1024px) and (min-height: 768px) and (max-height: 1000px) {
  .newsContainer {
    top: 8vh;
    left: 0;
    width: $main-container-width;
    height: calc($main-container-height - 8vh);

    & .innerFrame {
      & .previewContainer {
        width: 50vw;
        height: 71vh;
        margin-left: 4vw;
        transform: translateY(-1.5vh);

        & .previewTitle {
          height: 2vh;
        }

        & .defaultPreview {
          height: 68vh;
        }
      }

      & .contentsContainer {
        height: 71vh;
        margin-right: 4vw;
        transform: translateY(-1.5vh);

        & .contentsTitle {
          height: 2vh;
        }

        & .articleList {
          height: 68vh;
        }
      }
    }

    & .notice {
      display: none;
    }
  }
}

// Cell Phone vertical mode
@media all and (max-width: 550px) and (max-height: 1067px) {
  $main-container-height: 86vh;

  .newsContainer {
    top: 8vh;
    left: 0;
    width: $main-container-width;
    height: calc($main-container-height - 8vh);

    & .innerFrame {
      flex-direction: column;

      & .previewContainer {
        margin-left: 0;
        margin-top: 5vh;
        width: 90%;
        height: 50%;

        & .previewTitle {
          display: none;
        }

        & .defaultPreview {
          overflow: scroll;

          & img {
            height: 28vh;
          }

          & p {
            font-size: 3vw;
          }
        }
      }

      & .contentsContainer {
        margin-right: 0;
        margin-bottom: 1vh;
        width: 90%;
        height: 28vh;

        & .contentsTitle {
          font-size: 3vw;
          height: 2vh;
        }

        & .articleList {
          height: 25vh;

          & .text {
            font-size: 3vw;
          }
        }
      }

    }

    & .notice {
      display: none;
    }
  }
}

// Cell Phone horizontal mode
@media all and (max-width: 1067px) and (max-height: 550px) {
  .newsContainer {
    top: 12vh;
    left: 0;
    width: $main-container-width;
    height: calc($main-container-height - 12vh);

    & .innerFrame {
      flex-direction: row;

      & .previewContainer {
        width: 62%;
        height: 90%;
        margin-left: 1vw;
        justify-content: flex-start;

        & .previewTitle {
          display: none;
          font-size: 1.5vw;
          margin-bottom: 1vh;
        }

        & .defaultPreview {
          & img {
            height: 52vh;
          }

          & h3 {
            font-size: 2.5vw;
          }

          & p {
            font-size: 1.5vw;
          }
        }
      }

      & .contentsContainer {
        width: 34%;
        height: 90%;
        margin-right: 1vw;
        justify-content: flex-start;

        & .contentsTitle {
          display: none;
          margin-bottom: 1vh;
          font-size: 1.5vw;
        }

        & .articleList {
          height: 100%;

          & .text {
            font-size: 1.5vw;
          }
        }
      }
    }

    & .notice {
      display: none;
    }
  }
}