.newsDetailContainer {
  font-family: "S-CoreDream-4Regular";
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(16, 18, 27, 0.4);
  padding: 0 30px;
  top: 100px;
  left: 100px;
  width: 1200px;
  height: 650px;
  box-sizing: border-box;
}
.newsDetailContainer .leftContainer {
  position: absolute;
  top: 80px;
  left: 50px;
  width: 550px;
  height: 490px;
  line-height: 1.2;
}
.newsDetailContainer .leftContainer img {
  position: relative;
  top: 0;
  left: 0;
  width: 550px;
  height: auto;
  border-radius: 10px;
}
.newsDetailContainer .leftContainer .articleTitle {
  position: relative;
  margin-top: 30px;
  font-size: 30px;
  line-height: 1.2;
  color: #f8d17c;
}
.newsDetailContainer .backArrow {
  position: absolute;
  top: 15px;
  left: 50px;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
  color: #fff;
  border-radius: 5px;
  padding: 10px 10px;
}
.newsDetailContainer .backArrow:hover {
  color: #f8d17c;
  background: rgba(16, 18, 27, 0.4);
}
.newsDetailContainer .rightContainer {
  position: absolute;
  top: 80px;
  right: 50px;
  width: 500px;
  height: 490px;
  background: rgba(16, 18, 27, 0.4);
  border-radius: 10px;
  overflow: scroll;
}
.newsDetailContainer .rightContainer .articleText {
  position: relative;
  height: auto;
  padding: 40px 30px;
  line-height: 1.5;
  white-space: pre-wrap;
}