.newsContainer {
  font-family: "S-CoreDream-4Regular";
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(16, 18, 27, 0.4);
  padding: 0 30px;
  top: 100px;
  left: 100px;
  width: 1200px;
  height: 650px;
  box-sizing: border-box;
  transition: background 0.3s ease-in-out;
}
.newsContainer .previewContainer {
  position: absolute;
  top: 0;
  left: 100px;
  width: 550px;
  height: 600px;
  box-sizing: border-box;
}
.newsContainer .previewContainer .previewTitle {
  position: relative;
  top: 50px;
  left: 0;
  color: #565656;
}
.newsContainer .previewContainer .defaultPreview {
  position: absolute;
  top: 75px;
}
.newsContainer .previewContainer .defaultPreview img {
  position: relative;
  width: 550px;
  height: auto;
  border-radius: 10px;
  user-select: none;
}
.newsContainer .previewContainer .defaultPreview h3 {
  margin-top: 30px;
  font-size: 30px;
}
.newsContainer .previewContainer .defaultPreview p {
  margin-top: 30px;
  font-weight: 100;
}
.newsContainer .contentsContainer {
  position: absolute;
  top: 0;
  right: 100px;
  width: 400px;
  height: 650px;
  box-sizing: border-box;
}
.newsContainer .contentsContainer .contentsTitle {
  position: absolute;
  top: 50px;
  left: 0;
  color: #565656;
}
.newsContainer .contentsContainer .articleList {
  position: absolute;
  font-family: "S-CoreDream-4Regular";
  font-size: 20px;
  font-weight: 400;
  width: 400px;
  height: 500px;
  top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(16, 18, 27, 0.4);
  border-radius: 10px;
  box-sizing: border-box;
  transition: background 0.3s ease-in-out;
}
.newsContainer .contentsContainer .articleList .text {
  pointer-events: none;
}
.newsContainer .contentsContainer .borderEffect {
  animation: blink-darkMode 3s infinite alternate ease-in-out;
}
@keyframes blink-darkMode {
  0% {
    border: 3px solid transparent;
  }
  100% {
    border: 3px solid #fff;
  }
}

.lightMode .newsContainer {
  background: rgba(255, 255, 255, 0.3098039216);
}
.lightMode .newsContainer .contentsContainer .articleList {
  background: rgba(255, 255, 255, 0.3098039216);
}
.lightMode .newsContainer .contentsContainer .borderEffect {
  animation: blink-lightMode 3s infinite alternate ease-in-out;
}
@keyframes blink-lightMode {
  0% {
    border: 3px solid transparent;
  }
  100% {
    border: 3px solid #1e1e1e;
  }
}