/*
$global-back: #0e0e0e;
$module-back: #202124;
$pure-black: #000;
$pure-white: #fff;
$pointed-font: #a8a8a8;
$card-border: #9d9d9d;
*/
.card {
  position: absolute;
  margin-top: 250px;
  margin-left: 300px;
  width: 450px;
  height: 350px;
  border-left: 1px solid #9d9d9d;
  border-radius: 10px;
  transform-origin: 100%;
  transform: perspective(300px) rotateY(10deg);
  text-overflow: ellipsis;
  background: #fff;
  overflow: hidden;
}
.card .articleImage {
  position: relative;
  width: 100%;
  height: 220px;
}
.card h3 {
  margin-top: 20px;
  font-family: "S-CoreDream-4Regular";
  color: #000;
  font-weight: 1000;
  font-size: 20px;
  padding: 0 20px;
  line-height: 1.3;
}
.card p {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 20px;
  padding: 0 20px;
  color: #000;
}

.class0 {
  transform: perspective(300px) rotateY(10deg) translate(-30px, -30px);
  z-index: 1;
  opacity: 0.5;
}

.class1 {
  transform: perspective(300px) rotateY(10deg) translate(-15px, -15px);
  z-index: 2;
  opacity: 0.8;
}

.class2 {
  z-index: 3;
}