@import "./color-set.css";

.modalContainer {
  position: absolute;
  font-family: "S-CoreDream-1Thin";
  z-index: 9999;
  width: 400px;
  height: 300px;
  background: var(--modal-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 10px 50px#0000008e;
  overflow: hidden;

  & h2 {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    font-size: 20px;
    font-weight: 800;
    background: var(--container-color);
    box-sizing: border-box;
  }

  & ul {
    position: relative;
    width: 400px;
    height: 220px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
  }

  & li {
    position: relative;
    font-family: "Barlow Condensed";
    color: var(--font-color);
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    width: 400px;
    height: 55px;
    cursor: pointer;

    & .itemContainer {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;

      & .icon {
        font-size: 25px;
      }

      & .label {
        display: flex;
        align-items: center;
        margin-left: 20px;
        width: 100px;
      }
    }
  }

  & li:hover {
    background: var(--container-color);
    color: var(--point-color2);
  }
}

.lightMode[data-theme="light"] {
  & .modalContainer {
    background: var(--container-color);

    & h2 {
      background: var(--container-color);
    }

    & ul {
      & li {
        color: var(--font-color);
      }

      & li:hover {
        background: var(--container-color);
        color: var(--point-color2);
      }
    }
  }
}