.signUpContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.3vw solid var(--font-color);
  border-radius: 0.8vw;
  box-sizing: border-box;
  width: 80vw;
  height: 80vh;
  background: var(--container-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  & .backArrow {
    position: absolute;
    top: 2vh;
    left: 2vh;
    font-size: 2vw;
    cursor: pointer;
    padding: 1vw;
    border-radius: 0.8vw;
  }

  & .backArrow:hover {
    background: var(--container-color);
  }

  & .viewHead {
    position: absolute;
    top: 10vh;
    display: flex;
    align-items: center;
    user-select: none;

    & .icon {
      font-size: 4vw;
    }

    & h1 {
      font-family: "Poiret One";
      font-size: 3vw;
      margin-left: 2vw;
    }
  }

  & .formContainer {
    position: absolute;
    top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 25vh;

    // 공통 스타일
    & .title {
      width: 6vw;
      margin-right: 4vw;
      display: flex;
      justify-content: flex-end;
      font-family: "S-CoreDream-4Regular";
      font-size: 1vw;
    }

    & input {
      border: 0.2vw solid transparent;
      border-radius: 0.4vw;
      background: var(--container-color);
      color: var(--point-color2);
      width: 15vw;
      height: 5vh;
      font-size: 1.3vw;
      outline: none;
      padding: 0 0.5vw;
      box-sizing: border-box;
      transition: border 0.3s ease-in-out;
    }

    & input:focus {
      border: 0.2vw solid var(--font-color);
    }

    & .warning {
      color: var(--point-color1);
      font-family: "S-CoreDream-4Regular";
    }

    & .pass {
      color: var(--point-color2);
      font-family: "S-CoreDream-4Regular";
    }

    & .checkIcon {
      color: #6fff80;
      font-size: 1.5vw;
      width: 2vw;
      margin: 0 1vw;
    }

    & .blank {
      width: 2vw;
      margin: 0 1vw;
    }

    // 여기서부터 각 필드 카테고리 스타일
    & .idCategory {
      display: flex;
      align-items: center;
      justify-content: center;

      & .idField {
        display: flex;
        align-items: center;
      }

      & span {
        width: 25vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1vw;

        & .duplicateBtn {
          text-decoration: none;
          font-family: "S-CoreDream-4Regular";
          font-weight: 500;
          position: relative;
          width: 6vw;
          height: 5vh;
          margin-right: 2vw;
          border: none;
          background: var(--point-color2);
          border-radius: 0.4vw;
          cursor: pointer;
        }

        & .infoText {
          display: flex;
          flex-direction: column;

          & div:first-child {
            margin-bottom: 1vw;
          }
        }
      }
    }

    & .passwordCategory {
      display: flex;
      align-items: center;
      justify-content: center;

      & .passwordField {
        display: flex;
        align-items: center;
      }

      & span {
        display: flex;
        flex-direction: column;
        width: 25vw;
        font-size: 1vw;

        & div:first-child {
          margin-bottom: 1vw;
        }
      }
    }

    & .confirmCategory {
      display: flex;
      align-items: center;
      justify-content: center;

      & .confirmField {
        display: flex;
        align-items: center;
      }

      & span {
        width: 25vw;
        display: flex;
        justify-content: flex-start;
        font-size: 1vw;
      }
    }

    & .disableBtn {
      position: absolute;
      bottom: -20vh;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 15vw;
      height: 5vh;
      border: none;
      border-radius: 0.4vw;
      background: #7e7e7e;
      font-size: 1.3vw;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .joinBtn {
      position: absolute;
      bottom: -20vh;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10vw;
      height: 5vh;
      border: none;
      border-radius: 0.4vw;
      background: var(--point-color2);
      font-size: 1.3vw;
      cursor: pointer;
    }
  }
}


// Tablet vertical mode
@media all and (min-width: 551px) and (max-width: 1024px) and (min-height: 1024px) and (max-height: 1366px) {
  .signUpContainer {
    & .viewHead {
      top: 5vh;

      & .icon {
        font-size: 8vw;
      }

      & h1 {
        font-size: 6vw;
      }
    }

    & .formContainer {
      top: 20vh;
      height: 40vh;

      & .title {
        font-size: 2vw;
      }

      & input {
        width: 20vw;
        height: 4vh;
        font-size: 2vw;
      }

      & .checkIcon {
        margin-left: 4vw;
      }

      & .blank {
        margin-left: 4vw;
      }

      & .idCategory {
        flex-direction: column;

        & .idField {
          justify-content: center;
        }

        & span {
          display: flex;
          margin-top: 2vh;
          width: auto;
          font-size: 2vw;

          & .duplicateBtn {
            width: 10vw;
            height: 4vh;
            margin-right: 1vw;
          }
        }
      }

      & .passwordCategory {
        flex-direction: column;

        & .passwordField {
          justify-content: center;
        }

        & span {
          margin-top: 2vh;
          width: auto;
          font-size: 2vw;
        }
      }

      & .confirmCategory {
        flex-direction: column;

        & .confirmField {
          justify-content: center;
        }

        & span {
          margin-top: 2vh;
          width: auto;
          font-size: 2vw;
        }
      }

      & .disableBtn {
        height: 4vh;
        font-size: 1.5vw;
        bottom: -15vh;
      }

      & .joinBtn {
        height: 4vh;
        font-size: 1.5vw;
        bottom: -15vh;
      }
    }
  }
}

// Desktop (Tablet vertical mode size)
@media all and (min-width: 551px) and (max-width: 768px) and (min-height: 768px) and (max-height: 1024px) {
  .signUpContainer {
    & .viewHead {
      top: 5vh;

      & .title {
        font-size: 2vw;
      }

      & .icon {
        font-size: 8vw;
      }

      & h1 {
        font-size: 6vw;
      }
    }

    & .formContainer {
      top: 20vh;
      height: 40vh;

      & input {
        width: 20vw;
        height: 4vh;
        font-size: 2vw;
      }

      & .checkIcon {
        margin-left: 4vw;
      }

      & .blank {
        margin-left: 4vw;
      }

      & .idCategory {
        flex-direction: column;

        & .idField {
          justify-content: center;
        }

        & span {
          display: flex;
          margin-top: 2vh;
          width: auto;
          font-size: 2vw;

          & .duplicateBtn {
            width: 10vw;
            height: 4vh;
            margin-right: 1vw;
          }
        }
      }

      & .passwordCategory {
        flex-direction: column;

        & .passwordField {
          justify-content: center;
        }

        & span {
          margin-top: 2vh;
          width: auto;
          font-size: 2vw;
        }
      }

      & .confirmCategory {
        flex-direction: column;

        & .confirmField {
          justify-content: center;
        }

        & span {
          margin-top: 2vh;
          width: auto;
          font-size: 2vw;
        }
      }

      & .disableBtn {
        width: 20vw;
        height: 4vh;
        font-size: 2vw;
        bottom: -15vh;
      }

      & .joinBtn {
        height: 4vh;
        font-size: 2vw;
        bottom: -15vh;
      }
    }
  }
}

// Tablet horizontal mode
@media all and (min-width: 1024px) and (max-width: 1366px) and (min-height: 768px) and (max-height: 1024px) {
  .signUpContainer {
    & .formContainer {
      & .idCategory {
        & span {
          & .duplicateBtn {
            width: 8vw;
          }
        }
      }
    }
  }
}

// Desktop (Tablet horizontal mode size)
@media all and (min-width: 768px) and (max-width: 1024px) and (min-height: 768px) and (max-height: 1000px) {
  .signUpContainer {
    & .formContainer {
      & .idCategory {
        & span {
          & .duplicateBtn {
            width: 8vw;
          }
        }
      }
    }
  }
}

// Cell Phone vertical mode
@media all and (max-width: 550px) and (max-height: 1067px) {
  .signUpContainer {
    & .backArrow {
      font-size: 5vw;
    }

    & .viewHead {
      top: 5vh;

      & .icon {
        font-size: 8vw;
      }

      & h1 {
        font-size: 6vw;
      }
    }

    & .formContainer {
      top: 20vh;
      height: 40vh;

      & .title {
        font-size: 3vw;
      }

      & input {
        width: 30vw;
        height: 4vh;
        font-size: 3vw;
      }

      & .checkIcon {
        width: 3vw;
        font-size: 3vw;
        margin-left: 4vw;
      }

      & .blank {
        width: 3vw;
        font-size: 3vw;
        margin-left: 4vw;
      }

      & .idCategory {
        flex-direction: column;

        & .idField {
          justify-content: center;
        }

        & span {
          display: flex;
          margin-top: 2vh;
          width: auto;
          font-size: 3vw;

          & .duplicateBtn {
            width: 20vw;
            height: 4vh;
            margin-right: 4vw;
          }
        }
      }

      & .passwordCategory {
        flex-direction: column;

        & .passwordField {
          justify-content: center;
        }

        & span {
          margin-top: 2vh;
          width: auto;
          font-size: 3vw;
        }
      }

      & .confirmCategory {
        flex-direction: column;

        & .confirmField {
          justify-content: center;
        }

        & span {
          margin-top: 2vh;
          width: auto;
          font-size: 3vw;
        }
      }

      & .disableBtn {
        width: 30vw;
        height: 4vh;
        font-size: 3vw;
        bottom: -15vh;
      }

      & .joinBtn {
        width: 20vw;
        height: 4vh;
        font-size: 3vw;
        bottom: -15vh;
      }
    }
  }
}

// Cell Phone horizontal mode
@media all and (max-width: 1067px) and (max-height: 550px) {
  .signUpContainer {
    & .backArrow {
      font-size: 3vw;
    }

    & .viewHead {
      top: 6vh;
    }

    & .formContainer {
      top: 20vh;
      height: 40vh;
      // padding: 5vh 0;

      & .title {
        font-size: 1.5vw;
      }

      & input {
        height: 8vh;
        font-size: 2vw;
      }

      & .checkIcon {
        font-size: 2vw;
        margin: 0 2vw;
      }

      & .blank {
        margin: 0 2vw;
      }

      & .idCategory {
        & span {
          font-size: 1.5vw;
          width: 35vw;

          & .duplicateBtn {
            width: 10vw;
            height: 8vh;
            font-size: 1.5vw;
          }
        }
      }

      & .passwordCategory {
        & span {
          width: 35vw;
          font-size: 1.5vw;
        }
      }

      & .confirmCategory {
        & span {
          width: 35vw;
          font-size: 1.5vw;
        }
      }

      & .disableBtn {
        font-size: 1.5vw;
        height: 8vh;
      }

      & .joinBtn {
        font-size: 1.5vw;
        height: 8vh;
      }
    }
  }
}