.signUpContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid var(--font-color);
  border-radius: 10px;
  box-sizing: border-box;
  width: 1000px;
  height: 600px;
  background: var(--container-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  & .backArrow {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
  }

  & .backArrow:hover {
    background: var(--container-color);
  }

  & .viewHead {
    top: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    user-select: none;

    & .icon {
      font-size: 50px;
    }

    & h1 {
      font-family: "Poiret One";
      font-size: 40px;
      margin-left: 20px;
    }
  }

  & .formContainer {
    position: absolute;
    top: 230px;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 350px;

    & .checkIconSet {
      position: absolute;
      display: flex;
      flex-direction: column;
      right: 200px;

      & .checkIcon {
        color: #6fff80;
        height: 40px;
        margin-bottom: 30px;
        font-size: 20px;
      }

      & .blank {
        height: 40px;
        margin-bottom: 30px;
      }
    }

    & .category {
      position: absolute;
      left: 100px;
      font-family: "S-CoreDream-4Regular";
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 20px;
      user-select: none;

      & span {
        height: 40px;
        padding: 0 10px;
        margin-bottom: 30px;
        box-sizing: border-box;
        font-size: 15px;
        display: flex;
        align-items: center;
      }

    }

    & .inputFields {
      position: absolute;
      left: 220px;
      display: flex;
      flex-direction: column;
      margin-right: 20px;

      & input {
        border: 1px solid transparent;
        border-radius: 5px;
        background: var(--container-color);
        color: var(--point-color2);
        width: 200px;
        height: 40px;
        font-size: 18px;
        outline: none;
        padding: 0 10px;
        margin-bottom: 30px;
        box-sizing: border-box;
        transition: border 0.3s ease-in-out;
      }

      & input:focus {
        border: 2px solid var(--font-color);
      }
    }

    & .inputDescription {
      position: absolute;
      right: 100px;
      display: flex;
      flex-direction: column;
      width: 450px;
      user-select: none;

      & span {
        height: 40px;
        margin-bottom: 30px;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        & .duplicateBtn {
          font-family: "S-CoreDream-4Regular";
          font-weight: 500;
          position: relative;
          width: 80px;
          height: 40px;
          margin-right: 20px;
          border: none;
          background: var(--point-color2);
          border-radius: 5px;
          cursor: pointer;
        }
      }

      & .warning {
        color: var(--point-color1);
        font-family: "S-CoreDream-4Regular";
      }

      & .pass {
        color: var(--point-color2);
        font-family: "S-CoreDream-4Regular";
      }
    }

    & .joinBtn {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 50px;
      border: none;
      border-radius: 5px;
      background: var(--point-color2);
      font-size: 18px;
      cursor: pointer;
    }

    & .disableBtn {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 150px;
      height: 50px;
      border: none;
      border-radius: 5px;
      background: #7e7e7e;
      font-size: 18px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.signUpContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid var(--font-color);
  border-radius: 10px;
  box-sizing: border-box;
  width: 1000px;
  height: 600px;
  background: var(--container-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  & .backArrow {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
  }

  & .backArrow:hover {
    background: var(--container-color);
  }

  & .viewHead {
    top: 100px;
    position: absolute;
    display: flex;
    align-items: center;

    & .icon {
      font-size: 50px;
    }

    & h1 {
      font-family: "Poiret One";
      font-size: 40px;
      margin-left: 20px;
    }
  }

  & .formContainer {
    position: absolute;
    top: 200px;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 350px;

    & .checkIconSet {
      position: absolute;
      display: flex;
      flex-direction: column;
      right: 200px;

      & .checkIcon {
        color: #6fff80;
        height: 40px;
        margin-top: 30px;
        font-size: 20px;
      }
    }

    & .category {
      position: absolute;
      left: 100px;
      font-family: "S-CoreDream-4Regular";
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 20px;

      & span {
        height: 40px;
        padding: 0 10px;
        margin-top: 30px;
        box-sizing: border-box;
        font-size: 15px;
        display: flex;
        align-items: center;
      }

    }

    & .inputFields {
      position: absolute;
      left: 220px;
      display: flex;
      flex-direction: column;
      margin-right: 20px;

      & input {
        border: 1px solid transparent;
        border-radius: 5px;
        background: var(--container-color);
        color: var(--point-color2);
        width: 200px;
        height: 40px;
        font-size: 18px;
        outline: none;
        padding: 0 10px;
        margin-top: 30px;
        box-sizing: border-box;
        transition: border 0.3s ease-in-out;
      }

      & input:focus {
        border: 2px solid var(--font-color);
      }
    }

    & .inputDescription {
      position: absolute;
      right: 100px;
      display: flex;
      flex-direction: column;
      width: 450px;

      & span {
        height: 40px;
        margin-top: 30px;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      & .warning {
        color: var(--point-color1);
        font-family: "S-CoreDream-4Regular";
      }

      & .pass {
        color: var(--point-color2);
        font-family: "S-CoreDream-4Regular";
      }
    }

    & button {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 50px;
      border: none;
      border-radius: 5px;
      background: var(--point-color2);
      font-size: 18px;
      cursor: pointer;
    }

    & .disableBtn {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 150px;
      height: 50px;
      border: none;
      border-radius: 5px;
      background: #7e7e7e;
      font-size: 18px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}