@import "./fonts.scss";

.videoSlider {
  position: absolute;
  font-family: "S-CoreDream-4Regular";
  font-size: 20px;
  font-weight: 400;
  color: var(--font-color);
  width: 400px;
  height: 500px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-sizing: border-box;
  transition: background 0.3s ease-in-out;
  overflow: scroll;

  & .videoList {
    left: 0;
    border-radius: 10px;

    & .video {
      position: relative;
      border-radius: 10px;
      padding: 10px 15px;
      display: flex;
      flex-direction: column;

      & img {
        margin-top: 5px;
        border-radius: 10px;
      }

      & .videoText {

        & h3 {
          position: relative;
          margin-top: 10px;
          font-family: "S-CoreDream-4Regular";
          font-size: 20px;
          line-height: 1.3;
          cursor: default;
          transition: color 0.3s ease-in-out;
        }

        & .block {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          margin-bottom: 20px;

          & .timeStamp {
            position: relative;
            top: 10px;
            font-size: 12px;
            color: var(--point-color3);
            transition: color 0.3s ease-in-out;
            margin-bottom: 5px;
          }

          & .views {
            position: relative;
            top: 10px;
            font-size: 12px;
            color: var(--point-color3);
            transition: color 0.3s ease-in-out;
          }
        }

        & .channelTitle {
          color: var(--point-color3);
          transition: color 0.3s ease-in-out;
          position: relative;
          font-size: 14px;
        }
      }
    }

    & .video:hover {
      background: var(--container-color);

      & .videoText {
        & h3 {
          color: var(--point-color1);
        }

        & .block {
          & .timeStamp {
            color: var(--point-color2);
          }

          & .views {
            color: var(--point-color2);
          }
        }

        & .channelTitle {
          color: var(--point-color2);
        }
      }
    }
  }
}