.youtubeContainer {
  font-family: "S-CoreDream-4Regular";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--container-color);
  padding: 0 30px;
  top: 100px;
  left: 100px;
  width: 1200px;
  height: 650px;
  box-sizing: border-box;
  transition: background 0.3s ease-in-out;
}
.youtubeContainer .previewContainer {
  position: absolute;
  top: 0;
  left: 100px;
  width: 550px;
  height: 600px;
  box-sizing: border-box;
}
.youtubeContainer .previewContainer .previewTitle {
  position: relative;
  top: 50px;
  left: 0;
  color: var(--sub-title);
}
.youtubeContainer .previewContainer .defaultPreview {
  position: absolute;
  top: 75px;
}
.youtubeContainer .previewContainer .defaultPreview img {
  position: relative;
  width: 550px;
  height: auto;
  border-radius: 10px;
  user-select: none;
}
.youtubeContainer .previewContainer .defaultPreview h3 {
  position: relative;
  margin-top: 30px;
  font-size: 30px;
}
.youtubeContainer .previewContainer .defaultPreview p {
  position: relative;
  margin-top: 30px;
  font-weight: 100;
}
.youtubeContainer .contentsContainer {
  position: absolute;
  top: 0;
  right: 100px;
  width: 400px;
  height: 650px;
  box-sizing: border-box;
}
.youtubeContainer .contentsContainer .contentsTitle {
  position: absolute;
  top: 50px;
  left: 0;
  color: var(--sub-title);
}
.youtubeContainer .contentsContainer .videoList {
  position: absolute;
  font-family: "S-CoreDream-4Regular";
  font-size: 20px;
  font-weight: 400;
  width: 400px;
  height: 500px;
  top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--container-color);
  border-radius: 10px;
  box-sizing: border-box;
  transition: background 0.3s ease-in-out;
}
.youtubeContainer .contentsContainer .videoList .text {
  pointer-events: none;
}
.youtubeContainer .contentsContainer .borderEffect {
  animation: blinkBorder 3s infinite alternate ease-in-out;
}
@keyframes blinkBorder {
  0% {
    border: 3px solid transparent;
  }
  100% {
    border: 3px solid var(--font-color);
  }
}
.youtubeContainer .notice {
  font-family: "S-CoreDream-1Thin";
  z-index: 900;
  position: absolute;
  bottom: 20px;
  color: var(--sub-title);
}

[data-theme=light] .youtubeContainer {
  background: var(--container-color);
}
[data-theme=light] .youtubeContainer .contentsContainer .contentsTitle {
  color: var(--sub-title);
}
[data-theme=light] .youtubeContainer .contentsContainer .videoList {
  background: var(--container-color);
}
[data-theme=light] .youtubeContainer .contentsContainer .borderEffect {
  animation: blinkBorder 3s infinite alternate ease-in-out;
}
@keyframes blinkBorder {
  0% {
    border: 3px solid transparent;
  }
  100% {
    border: 3px solid var(--font-color);
  }
}