@import "./fonts.scss";

.youtubePreview {
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  top: 75px;
  width: 550px;
  height: 500px;
  border-radius: 10px;

  & .videoSlider {
    position: relative;
    width: 550px;
    height: auto;
    border-radius: 10px;
    overflow: scroll;

    & iframe {
      border-radius: 10px;
    }

    & h3 {
      position: relative;
      top: 0;
      margin-top: 30px;
      font-size: 30px;
      line-height: 1.2;
      color: var(--point-color1);
      transition: color 0.3s ease-in-out;
      z-index: 999;
    }

    & .contentInfo {
      // display: flex;
      // align-items: center;
      flex-direction: column;

      margin-top: 20px;

      & .detailInfoSet {
        right: 0;
        font-size: 14px;

        & .timestamp {}

        & .views {
          margin-left: 20px;
        }
      }

      & .channel {
        margin-top: 20px;
        display: flex;
        align-items: center;
        background: var(--container-color);
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        color: var(--font-color);
        font-size: 15px;
        font-weight: 800;
        cursor: pointer;

        & img {
          width: 40px;
          border-radius: 50%;
        }

        & span {
          margin-left: 10px;
        }
      }
    }
  }

  & .videoSlider::-webkit-scrollbar {
    display: none;
  }
}